<h1>Events</h1>
<p><%= "#{pluralize(@events.size, "Event ist", "Events sind")}" %> vorhanden</p>

<%= @events.size == 1 ? "#{@events.size} Event ist" : "#{@events.size} Events sind" %> vorhanden
<br>
<br>
<% if @events.size == 1 %>
	<%= "#{@events.size} Events ist" %>
<% else %>
	<%= "#{@events.size} Events sind" %>
<% end %> vorhanden
<br>
<table>
	<tr>
		<th>NAME </th>
		<th>Beschreibung </th>
		<th>Datum </th>
		<th>Location </th>
		<th>Price </th>
	</tr>
<% @events.each do |event| %>
	<tr>
		<td><%= event.name %></td>
		<td><%= event.description %></td>
		<td><%= event.date %></td>
		<td><%= event.location %></td>
		<td><%= format_price(event) %></td>
	</tr>
<% end %>
</table>