<p id="notice"><%= notice %></p>

<h1>Listing <%= pluralize(@movies.size, 'Movies') %></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Total gross</th>
      <th>Descreption</th>
      <th>Released on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= format_total_gross(movie) %></td>
        <td><%= truncate(movie.descreption, length: 40, seperator: ' ') %></td>
        <td><%= movie.released_on %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
